/* CSS styling boyyyy */

div {text-align: center; margin-bottom: 20px auto;}

p {font-size: 20px;}

li {font-size: 18px;}

img {margin-right: 20px;}

span {display: inline-block;}

img {float: left}

a {text-decoration: none;}